button {
  min-height: 10px;
}
#col4 {
  color: black;
}
p {
  width: 5%;
  text-align: center;
  display: inline-flex;
  background-color: hotpink;
  border: 3px solid black;
}
h1 {
  text-align: center;
}